.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "sidebar main main";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr;
  height: 200px;
}

.nav {
  grid-area: nav;
  background-color: lightblue;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgreen;
  padding: 10px;
}

.main {
  grid-area: main;
  background-color: lightyellow;
  padding: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .grid-container {
    grid-template-areas:
    "nav nav nav"
    "main main main";
  }
}